@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bitter:ital,wght@0,400;0,500;1,300&family=Graduate&family=Merriweather:wght@300&family=Oswald&family=Roboto+Slab:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: white;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.2s linear;
}

body {
    background-attachment: fixed;
    background-image: url(Background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center top;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 10px;
    scroll-behavior: smooth;
}

label,
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper-container {
    width: 85%;
    margin: 0 auto;
}


/* css header */

.header {
    z-index: 10;
    background-color: var(--bg);
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 20px;
    transition: 0.5s ease;
    text-transform: uppercase;
}

.header img {
    width: 70px;
    height: auto;
    margin-right: 50px;
}


/* css .navbar */

.navbar a {
    color: black;
    font-weight: bold;
    padding: 0px 20px;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: 0.5rem;
}


/* css .icons */

.icons div {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2rem;
}

.icons div:hover {
    color: var(--main-color);
}


/* css .btn */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid var(--main-color);
}

.btn:hover {
    background-color: white;
    color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color), 0 0 15px var(--main-color);
    transition: 0.5s;
}


/* css search-form */

.search-form {
    position: absolute;
    top: 115%;
    right: 5%;
    background-color: #fff;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-form.active {
    transform: scaleY(1);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.search-form label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.search-form label:hover {
    color: var(--main-color);
}


/* css cart */

.cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 4.4rem);
    width: 28rem;
    background: #fff;
    padding: 0 1.5rem;
    border-top: 0.3rem solid var(--main-color);
    border-left: 0.3rem solid var(--main-color);
}

.cart-items-container.active {
    right: 0;
}

.cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5;
}

.cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.cart-item .fa-times:hover {
    color: var(--main-color);
}

.content h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.price {
    font-size: 1rem;
    color: var(--main-color);
}

.cart-items-container .btn {
    width: 100%;
    text-align: center;
}


/* menu-btn */

#menu-btn {
    display: none;
}


/* css about-us */

.About-us {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 70px auto 0;
    background-color: var(--bg);
    padding: 20px 0;
}

.bgimg {
    position: relative;
}

.about-content-item {
    position: absolute;
    top: 4%;
    width: 53%;
    padding-left: 2.5rem;
}


/* css about-content-1 */

.about-content-1 {
    position: relative;
    top: -7px;
}

.about-content-1 h1 {
    position: relative;
    left: 16%;
    font-family: "Amatic SC", cursive;
    font-size: 3rem;
    word-spacing: 4px;
}

.about-content-1 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 36px;
    font-size: 18px;
}

.about-content-1 p br {
    display: none;
}

.about-content-1 p .id1 {
    font-style: italic;
    line-height: 2rem;
    font-size: 18px;
    font-weight: normal;
}

.about-content-1 p span {
    font-family: "Bitter", serif;
    font-style: normal;
    font-weight: 500;
}

.about-content-1 span {
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
}


/* css about-content-2 */

.about-content-2 {
    position: relative;
    top: 10rem;
    left: 111%;
    width: 540px;
}

.about-content-2 h1 {
    position: relative;
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
    top: 10px;
}

.about-content-2 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.7rem;
    font-size: 18px;
}

.about-content-2 p span {
    font-weight: 500;
}

.about-content-2 p .id2 {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.7rem;
    font-size: 18px;
}


/* css about-content-3 */

.about-content-3 {
    position: relative;
    top: 13rem;
}

.about-content-3 h1 {
    position: relative;
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
    top: 10px;
}

.about-content-3 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 2.7rem;
    font-size: 18px;
}

.about-content-3 p br {
    display: none;
}

.about-content-3 p span {
    font-weight: 500;
}

.about-content-3 p .id3 {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.7rem;
    font-size: 18px;
}

.about-content-3 p .id4 {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.7rem;
    font-size: 18px;
}

.about-content-3 p .id5 {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.7rem;
    font-size: 18px;
    position: relative;
    left: 89px;
}

.about-content-3 p .id4 br {
    display: block;
}


/* css footer */

.footer {
    background: var(--main-color);
    text-align: center;
    margin: 0 auto;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: white;
}


/* media queries */

@media only screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    /* css header */
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 15rem;
        height: calc(100vh - 20rem);
        border: 2px solid var(--main-color);
        border-right: none;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .header .navbar a:hover {
        color: var(--main-color);
        border-bottom: none;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
        border: 2px solid var(--main-color);
    }
    /* css about */
    img {
        max-width: none;
        width: 100%;
    }
    .About-us {
        margin-top: 50px;
    }
    .about-content-item {
        position: absolute;
        top: 5%;
        width: 53%;
        padding-left: 0;
    }
    /* css about-content-1 */
    .about-content-1 {
        position: relative;
        top: -3px;
        width: 358px;
        left: 10px;
    }
    .about-content-1 h1 {
        position: relative;
        left: 20%;
        font-family: "Amatic SC", cursive;
        font-size: 22px;
    }
    .about-content-1 p {
        font-family: "Bitter", serif;
        font-style: italic;
        line-height: 17px;
        font-size: 15px;
        position: relative;
        bottom: 28px;
    }
    .about-content-1 p span {
        font-family: "Bitter", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        top: 0;
    }
    .about-content-1 span {
        font-family: "Amatic SC", cursive;
        font-size: 18px;
        position: relative;
        top: -22px;
    }
    .id1 {
        display: none;
    }
    .id2 {
        display: none;
    }
    .about-content-1 p br {
        display: block;
    }
    /* css about-content-2 */
    .about-content-2 {
        position: relative;
        top: -5px;
        left: 374px;
        width: 256px;
    }
    .about-content-2 h1 {
        position: relative;
        font-family: "Amatic SC", cursive;
        font-size: 17.6px;
        top: 10px;
    }
    .about-content-2 p {
        font-family: "Bitter", serif;
        font-style: italic;
        line-height: 18px;
        font-size: 14px;
        position: absolute;
        top: 37px;
    }
    .about-content-2 p span {
        font-weight: 500;
    }
    .about-content-2 p br {
        display: block;
    }
    /* css about-content-3 */
    .about-content-3 {
        position: relative;
        top: 148px;
        width: 357px;
        left: 10px;
    }
    .about-content-3 h1 {
        position: relative;
        font-family: "Amatic SC", cursive;
        font-size: 25px;
        top: 5px;
    }
    .about-content-3 p {
        font-family: "Bitter", serif;
        font-style: italic;
        line-height: 18px;
        font-size: 16px;
        position: absolute;
        top: 38px;
    }
    .id3 {
        display: none;
    }
    .about-content-3 p .id4 {
        font-family: "Bitter", serif;
        font-style: italic;
        line-height: 18px;
        font-size: 16px;
        position: relative;
        left: 50px;
    }
}